/*Cores do tema*/
:root{
    --azul-escuro:#020115;
    --amarelo:#ffc107;
    --verde: #39972c;
    --verde-chape: #0f5505;
}
/*Sessão principal*/
.hero-section{
    background: white;
    min-width: 100vh;
}

card-1{
    background-color: var(--verde-chape);
}

/*Responsivo*/
@media(max-width:760px){
    .hero-section{
        width: 120px;
        height: 120px;
    }
}

.hero-image{
    width:150px;
    height: 150px;
    border: 3px solid var(--amarelo)
}

img{
    transition: transform 0.3s;
}

img:hover{
    transform: scale(1.05);
}

html{
    scroll-behavior: smooth;
}

section, header{
    scroll-margin-top: 70px;
}

.navbar .nav-link.active{
    background-color: var(--verde-chape);
    color:white;
    border-radius: 5px;
    padding: 6px 12px;
}
